@charset "UTF-8";

input:not([type="submit"]) + .input-requirements {
	overflow: hidden;	/*visibility of the area -> for example: to add scrolls to show the rest of the text*/
	max-height: 0;
	transition: max-height 0.5s ease-out;  <%--ease out means how long after exiting the input field will the js validation remain visible --%>
}
input:not([type="submit"]):hover + .input-requirements,
input:not([type="submit"]):focus + .input-requirements,
input:not([type="submit"]):active + .input-requirements {
	max-height: 1000px; /* any large number (bigger then the .input-requirements list) */
	transition: max-height 1s ease-in;
}
.regist {
	background-color: #fff;
	max-width: 600px;
	margin: 0 auto;
	padding-bottom: 20px;
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.3);
	border-bottom: 5px solid #ffdb3a;
}
.header-info {
	text-align: center;
	background-color: #ffe0b3;
}
.input-requirements {
	font-size: 1.3rem;
	font-style: italic;
	text-align: left;
	list-style: disc;	/* default, filled dot */
	list-style-position: inside; /* defines where the dot is*/
	max-width: 400px;
	margin: 10px auto;
	color: rgb(150,150,150);
}
.input-requirements li.valid:after {
	display: inline-block;
	padding-left: 10px;
	content: "\2713";	<%-- check mark! --%>
}
.input-requirements li.invalid:after {
	display: inline-block;
	padding-left: 10px;
	content: "\2717";	<%-- ballot X --%>
}
.valid {
	color: green;
}
.invalid {
	color: red;
}
.inputAreaWidth {
	width: 400px;
}
