@charset "UTF-8";

.desc{
	margin: auto;
	text-align: center;
	padding: 10px;
	margin: 10px;
}

.desc li {
	list-style-type: none;
}

.centerList {
	transition: 1s ease;
}
.centerList:hover {
	background-color: #ffb366;
	border-radius: 5px;
}

#navitip {
	transition: 0.8s ease;
	text-align: center;
}
#navitip:hover {
	background-color: red;
	color: white;
	border-radius: 15px;
}

